{% extends 'base.html' %}

{% block content %}

{% include 'news/search_form.html' %}

{% for article in news_page %}
{# Each "article" is a NewsArticle model object. #}
    <div class="card">
        <div class="card-header">
            <b>{{ article.title }}</b>
        </div>
        <div class="card-body">
        <p class="card-text">  
          {% if article.author %}  
          <span><i>post by @{{ article.author }}</i></span>
          {% else %}
          <span><i>post by @{{ article.post_by }}</i></span>
          {% endif %}
          <i style="float:right;">added {{ article.time_added|timesince }} ago</i>
        </p>
        <br>
        <div>
        {% if article.url  %}
            <a href="{{ article.url }}" target="_blank" class="btn btn-outline-primary btn-sm" style="float:left; margin-right: 15px;">Read more</a>
        {% endif %}
        <form class="d-flex" action="{% url 'cache-news' %}" method=POST>
          {% csrf_token %}
          <input type="hidden" name="cached_news" value="{{ article.id }}"/>
          <button class="btn btn-outline-success btn-sm" type="submit" style="float:left;">Cache News</button>
        </form>
        </div>
        
        </div>
    </div>
    <br>
{% endfor %}

{% if news_page.has_other_pages %}
<nav aria-label="...">
    <ul class="pagination">

        {% if news_page.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ news_page.previous_page_number }}" aria-label="{{ news_page.previous_page_number }}">&#10094;Previous</a>
      </li>
        {% endif %}
        {% for page in custom_range %}
        {% if page == news_page.number %}
        <li class="page-item active" aria-current="page"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
          {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ page }}">{{page }}</a></li>
          {% endif %}  
        {% endfor %}      
        {% if news_page.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ news_page.next_page_number }}">Next &#10095;</a></li>
        {% endif %}
    </ul>
  </nav>
{% endif %}

{% endblock %}



