{% extends 'base.html' %}

{% block content %}


<div class="row justify-content-left">
  <div class="row justify-content-end">
    <div class="col-md-4 ">
      {% include 'news/search_form.html' %}
    </div>
  </div>
  <div class="col-md-8">
    <!-- News article div -->
    <div class="row">
    {% for article in news_page %}        {# Each "article" is a NewsArticle model object. #}
      <div class="col-md-6 mb-3">
        <div class="card" style="background-color: black; color: white ;">
              <!-- Card header -->
              <div class="card-header d-flex align-items-center" style="height: 65px; font-size: 14px">
                  <b>{{ article.title }}</b>
              </div>
              <!-- Card body -->
              <div class="card-body">
                  <p class="card-text"> 
                    {% if article.author %}  
                        <i style="font-size: 10px; line-height: 25px;">post by @{{ article.author }}</i>
                    {% else %}
                        <i style="font-size: 10px; line-height: 25px;">post by @{{ article.post_by }}</i>
                    {% endif %}
                    <i style="float:right; font-size: 10px; line-height: 25px;">added {{ article.time_added|timesince }} ago</i>
                  </p>
              <br>
                  <!-- Buttons div -->
                  <div>
                      <!-- Read more button -->
                      {% if article.url  %}
                          <a href="{{ article.url }}" target="_blank" class="btn btn-outline-primary btn-sm" style="float:left; margin-right: 15px; font-size: 10px;">Read more</a>
                      {% endif %}
                      <!-- Cache news button -->
                      
                      <form class="d-flex" action="{% url 'cache-news' %}" method=POST>
                        {% csrf_token %}
                        <input type="hidden" name="cached_news" value="{{ article.id }}"/>
                        <button class="btn btn-outline-success btn-sm" type="submit" style="float:left; font-size: 10px;"><i class="bi bi-box-arrow-in-down"></i>  Cache News </button>
                      </form>
                  </div>
              </div>
        </div>
      </div>
    {% endfor %}
        <!-- Pagination-->
        {% if news_page.has_other_pages %}
        <div>
          <nav aria-label="...">
            <ul class="pagination">
              <!-- Previous button -->
                {% if news_page.has_previous %}
              <li class="page-item">
                <a class="page-link" style= "background-color: #212529;" href="?page={{ news_page.previous_page_number }}" aria-label="{{ news_page.previous_page_number }}">&#10094;Previous</a>
              </li>
                {% endif %}
                <!-- Page numbers -->
                {% for page in custom_range %}
                {% if page == news_page.number %}
                <li class="page-item active" aria-current="page"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                  {% else %}
                <li class="page-item"><a class="page-link" style= "background-color: #212529;" href="?page={{ page }}">{{page }}</a></li>
                  {% endif %}  
                {% endfor %}  
                <!-- Next button -->    
                {% if news_page.has_next %}
              <li class="page-item"><a class="page-link" style= "background-color: #212529;" href="?page={{ news_page.next_page_number }}">Next &#10095;</a></li>
                {% endif %}
            </ul>
          </nav>
        </div>

        {% endif %}
    </div>
  </div>

    <div class="col-md-2"></div>
</div>
{% endblock %}



