<!--
<form id="searchForm" class="d-flex" method=GET action="{% url 'search-news' %}">
    //  comment out this token // {% csrf_token %} 
    <input class="form-control me-2" type="search" placeholder="Search News" aria-label="Search" name="q" value="{{ q }}">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
  <br>
-->
  <div class="card mb-4" style="background-color: black; color: white ;">
    <div class="card-header">Search</div>
    <div class="card-body">
        <div class="input-group">
          <form id="searchForm" class="d-flex" method=GET action="{% url 'search-news' %}">
            <input class="form-control" style="background-color: black; color: white;" type="search" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" name="q" value="{{ q }}"/>
            <button class="btn btn-primary" id="button-search" type="submit"><i class="bi bi-search"></i></button>
          </form>

        </div>
    </div>
</div>