{%extends 'base.html' %}

{% block content %}
<div>
    <h1 style="font-size: 8em; float: left; margin-right: 45px;"> 
      Welcome to MyHackerNews 
    </h1>
    <br><br>
    <h4 style="margin-top: 60px;">
      All the latest tech news stories at a click.
   </h4>
</div>
<br><br><br><br>

<div >

 <a href="{% url 'add-news' %}" class="btn btn-outline-primary btn-sm" style="margin-right: 60px;">
   Add an article
 </a>
</div>
<br><br>

    

{% if user.is_authenticated %}
<div>
    <strong>{{ user|capfirst }}, what's on your mind? </strong> 
</div>
{% endif %}

<br><br><br><br>



{% endblock%}